language: go
go:
    - 1.7.5
    - 1.8.1
    - tip
matrix:
  allow_failures:
    - go: tip

notifications:
    email:
        recipients: dean.karn@gmail.com
        on_success: change
        on_failure: always

before_install:
  - go get -u golang.org/x/lint/golint
  - go get -u github.com/gordonklaus/ineffassign
  - go get -u github.com/client9/misspell/cmd/misspell

before_script:
  - go vet ./...

script:
 - gofmt -d -s .
 - golint ./...
 - ineffassign ./
 - find . -type f | xargs misspell -source=text
 - go test -v ./...
